
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background-image: url(https://images.unsplash.com/photo-1664388519483-9fdcbdba13a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    font-family: 'Rubik', sans-serif; 
  }
  
#app{
    text-align: center;
}

.App{
  max-width: 900px;
  margin: 40px auto;
}



.container{
  background-color:papayawhip;
  width: 20rem;
  padding: 2rem;
  border-radius: 1rem;
}

